@model ControlAsistencia.Models.Credencial

@{
    ViewBag.Title = "Eliminar Credencial";
}

<h2>Eliminar Credencial</h2>

<div>
    <h4>¿Está seguro de que desea eliminar esta credencial?</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreUsuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreUsuario)
        </dd>

        <!-- Verificación de si Usuario es nulo -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.Nombre)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Usuario != null)
            {
                @Html.DisplayFor(model => model.Usuario.Nombre)
            }
            else
            {
                <span>Usuario no asignado</span>
            }
        </dd>

        <!-- Verificación de si Rol es nulo -->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rol.NombreRol)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Rol != null)
            {
                @Html.DisplayFor(model => model.Rol.NombreRol)
            }
            else
            {
                <span>Rol no asignado</span>
            }
        </dd>
    </dl>

    <form asp-action="Eliminar">
        <input type="hidden" asp-for="IdCredencial" />
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
