@model IEnumerable<ControlAsistencia.Models.Credencial>


<h2>Lista de Credenciales</h2>

<!-- Botón para crear una nueva credencial -->
<p>
    <a asp-action="Crear" class="btn btn-primary">Crear Nueva Credencial</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Usuario</th>
            <th>Nombre de Usuario</th>
            <th>Rol</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Usuario.Nombre</td> <!-- Mostrando nombre del usuario -->
                <td>@item.NombreUsuario</td>
                <td>@item.Rol.NombreRol</td>
                <td>
                    <a asp-action="Editar" asp-route-id="@item.IdCredencial">Editar</a> |
                    <a asp-action="Eliminar" asp-route-id="@item.IdCredencial">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
